/* General styles for the flow layout */

/* AppBar styles */
.dndflow .MuiAppBar-root {
  position: sticky;
  top: 0;
  /* background-color: $primary-color; // Using a variable for the primary color */
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  color: white;
  /* height: 70px; */
  box-shadow: none;
  /* border-bottom: 2px solid #ddd; */
}

/* AppBar content */
.dndflow .MuiAppBar-root .MuiBox-root {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
}

/* Buttons in AppBar */
.dndflow .MuiButton-root {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
}

/* Buttons and controls for execution and workflow */
.execution-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  z-index: 2;
  position: absolute;
  top: 110px;
  left: 45%;
  background-color: transparent;
  padding: 0.5rem;

  .MuiButton-root {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
  }
}

.execution-buttons .MuiButton-root:disabled {
  background-color: #ccc;
  color: #888;
}

/* Main Flow Container styles */
.reactflow-wrapper {
  flex: 1;
  height: 79vh;
  position: relative;
  background-color: #f4f4f4;
  border-radius: 5px;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 2px solid #ddd;
  padding: 1rem;
  height: 100%;
  position: sticky;
  top: 0;
}

.sidebar .MuiTypography-caption {
  font-size: 14px;
  font-weight: normal;
}

.sidebar .MuiButton-root {
  width: 100%;
  margin-top: 10px;
}

/* Styles for dynamic nodes */
.dynamic-node {
  text-align: center;
  padding: 6px 6px;
  cursor: move;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  height: auto;
  width: 6.875rem;
  justify-content: center;
}

.dynamic-node:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.dynamic-node .MuiTypography-caption {
  /* margin-bottom: 10px; */
  font-weight: bold;
}

/* Styles for node success/failure status icons */
.dynamic-node .MuiSvgIcon-root {
  font-size: 20px;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 !important;
}

.dynamic-node .MuiSvgIcon-root.success {
  color: #27ae60;
}

.dynamic-node .MuiSvgIcon-root.error {
  color: #e74c3c;
}

/* Right Sidebar styles */
.right-sidebar {
  width: 250px;
  background-color: #fff;
  border-left: 2px solid #ddd;
  padding: 1rem;
  height: 100%;
  position: sticky;
  top: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.right-sidebar.open {
  width: 300px;
}

/* ReactFlow Background and Controls styles */
.reactflow__background {
  background-color: #f0f0f0;
}

.react-flow__controls {
  z-index: 10;
}

.node-drag {
  border-radius: 5px;
  text-align: center;
  padding: 16px;
  cursor: move;
}

.ActionRequired {
  border: 2px solid #ff9800; /* Orange border */
  /* padding: 16px;
  border-radius: 5px; */
}

.Success {
  border: 2px solid #4caf50; /* Green border */
  /* padding: 16px;
  border-radius: 5px; */
}

.Faild {
  border: 2px solid #f44336; /* Red border */
  /* padding: 16px;
  border-radius: 5px; */
}

.EmailActionRequired {
  border: 2px solid #ffeb3b; /* Blue border */
  /* padding: 16px;
  border-radius: 5px; */
}
.node-actions {
  position: absolute;
  top: -26px; /* Keep this if you want the element to be a fixed distance from the top */
  left: 50%; /* Horizontally center the element */
  transform: translateX(-50%); /* Adjust by 50% of its own width to center it */
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.node-actions div {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: 2px; /* Padding around the images to avoid border touching */
  margin: 4px;
  border-left: 1px solid var(--elevation-outlined, #e0e0e0);
}

.node-actions div img {
  border: none;
  cursor: pointer;
  height: 16px; /* Adjust the image size */
  width: 16px; /* Adjust the image size */
  object-fit: contain;
  transition: background-color 0.3s ease; /* Added transition for smooth hover effect */
  padding: 1px; /* Padding inside the image to avoid touching the borders */
}

/* Remove left border on the first icon */
.node-actions div:first-child {
  border-left: none;
}

.dymond .node-actions {
  transform: rotate(-45deg) !important;
  top: -32px !important;
  left: -59px;
}
/* Remove right border on the last icon */
.node-actions div:last-child {
  border-right: none;
}

.node-actions img:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.node-action-with-image div {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  padding: 2px; /* Padding around the images to avoid border touching */
  margin: 4px;
  border-left: 1px solid var(--elevation-outlined, #e0e0e0);
}

.node-action-with-image div img {
  border: none;
  cursor: pointer;
  height: 16px; /* Adjust the image size */
  width: 16px; /* Adjust the image size */
  object-fit: contain;
  transition: background-color 0.3s ease; /* Added transition for smooth hover effect */
  padding: 1px; /* Padding inside the image to avoid touching the borders */
}

.diamond .node-action-with-image {
  transform: rotate(-45deg) !important;
  top: -56px !important;
  left: -100px;
}
/* Remove left border on the first icon */
.node-action-with-image div:first-child {
  border-left: none;
}

/* Remove right border on the last icon */
.node-action-with-image div:last-child {
  border-right: none;
}

.node-action-with-image img:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
.node-action-with-image {
  position: absolute;
  top: -92px !important;
  left: 24px;
  display: flex;
  border-radius: 4px; /* Border radius for the action container */
  align-items: center;
  align-content: center;
  height: 20px;
}

.waiting-res {
  border: 2px solid #2196f3; /* Blue border */
  /* padding: 16px;
  border-radius: 5px; */
}
.selected {
  /* border: 2px solid #2196f3; Blue border */
  border-radius: 5px;
}
.node-drag .button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  z-index: 2;
  position: absolute;
  top: 110px;
  background-color: transparent;
  padding: 0.5rem;
  left: 45%;
}

.statusicon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0 !important;
  height: 0.5rem;
}
.source-title {
  padding: 1rem;
}
.Gmail_Heading {
  padding: 1rem !important;
}

.emailIcon {
  margin-left: 1rem;
  margin-right: 1rem;
}
.title-textfield-container {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust spacing between title and input */
  justify-content: space-between;
}

.title-label {
  white-space: nowrap; /* Prevents text wrapping */
  font-weight: 500 !important;
  font-size: 14px !important;
  margin-top: 0.5rem !important;
}

.title-textfield {
  flex: 1; /* Makes the TextField take the remaining space */
}

.title-textfield .MuiOutlinedInput-notchedOutline {
  border-color: #e0e0e0; /* Default border color */
}

.title-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #bdbdbd; /* Hover border color */
}

.title-textfield
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #bdbdbd; /* Focused border color */
}

.Delete_Icon {
  margin-bottom: 0.5rem;
}
.flow-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-paper-elevation-2, #fff);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  display: flex;
  padding: var(--2, 16px) var(--3, 24px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 74px;
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  padding: 10px 16px;
}

.rightSide_Bar_icon {
  height: 20px;
  margin-right: 1rem;
}

.RightSideBar_Heading {
  font-weight: 500 !important;
  font-size: 16px !important;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.RightSideBar_SubHeading {
  font-weight: 500 !important;
  font-size: 12px !important;
}

.RightSide_Bar_Header_Section {
  display: flex !important;
  align-items: center !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  width: 340px;
  padding: 1rem;
  height: 64px;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.start-icon-step {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 12px;
}

.diamond {
  width: 20px !important;
  height: 20px !important;
  background-color: #fff; /* or your color */
  transform: rotate(45deg);
  position: relative;
  border: 1px solid #ccc;
}

.bottom-action {
  display: flex !important;
  align-items: center !important;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  padding: 1rem;
  height: 80px;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background: #edf7fe;
}

.text_input_workflow div {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 40px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
}

.text_input_workflow_select {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid lightgray !important;
  height: 40px !important;
  padding: 10px !important;
  border-radius: 6px !important;
  font-size: 12px !important;
}

.text_input_workflow_select_opt
  .css-1f6108n-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 12px !important;
}
.form_lable {
  margin-bottom: 1rem;
}

/* .handle {
  height: 4px !important;
  width: 4px !important;
  margin: auto;
} */

.button-edge__label {
  position: absolute;
  pointer-events: all;
  transform-origin: center;
}

.button-edge__button {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  background: #fff;
  cursor: pointer;
  color: #ffffff;
  border-radius: 50%;
  font-size: 12px;
  padding-top: 0px;
}

.button-edge__button:hover {
  /* background-color: var(--xy-theme-hover); */
  color: #ffffff;
}

/* .react-flow__edge-textbg {
  fill: #f7f9fb;
} */

/* Custom Handles */

.react-flow__handle.custom-handle {
  /* background-color: var(--xy-handle-border-color-default); */
  border-radius: 1px;
  width: 8px;
  height: 4px;
  border: none;
  min-width: 2px;
  min-height: 2px;
}

.text_input_properties div {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 40px !important;
  border-radius: 6px !important;
  font-size: 12px;
  display: flex;
  justify-content: start;
}
.text_input_properties_multiline div {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 36px !important;
  border-radius: 6px !important;
  font-size: 12px;
  display: flex;
  justify-content: start;
}

.Start,
.Yes {
  border: 1px solid green;
  height: 20px;
  border-radius: 10px;
  color: green;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.875rem;
}

.End,
.No {
  border: 1px solid red;
  height: 20px;
  border-radius: 10px;
  color: red;
  width: 6.875rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handle-dots {
  height: 4px !important;
  width: 4px !important;
}
