html, body {
    height: 100%;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  #root {
    height: 100%;
  }
  .shift-up {
    /* margin-top: -10px; */
  }
  .save-list {
    background-color:#f5f6fb;
    min-height: 100%;
    display: flex;  
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 30px;
   
    
  
  }

 
  
  .card {
    background-color: #fff;
    margin: 8px 0;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's width and height */
  }
  .count{
    color: #64748B;
  }
  .cards {
    background-color: #fff;
    margin: 8px 0;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's width and height */
    box-shadow: 0px 2px 5px 0px rgb(142, 140, 140);
    
    
  }

  .fav-sub-heading{
    font-weight: 500;
  }
  
  
  .card-header {
    display: flex;
    align-items: center; /* Centers items vertically */
    /* justify-content: space-between;  */
     /* padding: 8px; */
    box-sizing: border-box;

  }
  .icons{
    margin: 0 0.7rem;
    padding-bottom: 10px;
  }
  
  .book-icon {
    margin-right: 2rem; /* Adds space between the icon and the heading */
  }
  
  h2 {
    margin: 0;
    flex-grow: 1; /* Takes up remaining space */
  }
  
  .view-all {
    cursor: pointer;
    margin-left: auto; /* Pushes "View All" to the right */
    display: flex;
    justify-content: end;
    /* color: blue; Optional: Adds a color to "View All" */
  }
  
  .divider {
    border-bottom: 1px solid #e0e0e0;
    margin: 16px 0;
  }
  
  .card-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  
  .document-card {
    background-color: #f9f9f9;
    padding: 0 8px;
    height: 56px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  .document-card .file-icon {
    margin-right: 8px;
  }
  
  @media (max-width: 768px) {
    .card-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .card-content {
      grid-template-columns: 1fr;
    }
  }
  